paper/egpaper_for_review.blg
paper/egpaper_for_review.aux
paper/egpaper_for_review.blg
paper/egpaper_for_review.log
paper/egpaper_for_review.pdf
paper/egpaper_for_review.synctex.gz
paper/egpaper_for_review.log
paper/egpaper_for_review.blg
paper/egpaper_for_review.bbl
paper/egpaper_for_review.aux
paper/texput.log